.venv/
VisDrone/
VisDrone2019/
codeandmodule/
Diagram/
module/
output/
testchallenge/
UAV-ROD/
visdrone_result/
uavrod/
VisDrone2019_YOLO_Standard/
yolovr.py/
__pycache__/
*.pyc
.git/   
=======
__pycache__/ 
*.pt

